﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fleet Control</title>

    <link href="<?php echo $this->basePath(); ?>/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <link href="<?php echo $this->basePath(); ?>/build/css/custom.css" rel="stylesheet">

    <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <script src="<?php echo $this->basePath(); ?>/vendors/jquery/dist/jquery.min.js"></script>

    <link href="<?php echo $this->basePath(); ?>/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="<?php echo $this->basePath(); ?>/vendors/starrr/dist/starrr.css" rel="stylesheet">
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="" class="site_title">
                <img src="<?php echo $this->basePath(); ?>/images/jatecdev.png" alt="" width="40">
                <span>Fleet Control</span>
              </a>
            </div>
            <div class="clearfix"></div>
            
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li>
                    <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
                      <i class="fa fa-dashboard"></i> Ínicio
                    </a>
                  </li>
                  <?php if ($this->CompleteUserIdentity("FleetControl")->getRole()->getAdmin() == 1): ?>
                  <li><a><i class="fa fa-code"></i> Sistema <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li>
                        <a>Controle de Acesso<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu">
                              <a href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'role']); ?>">
                                Perfis
                              </a>
                            </li>
                            <li>
                              <a href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'privilege']); ?>">
                                Privilégios
                              </a>
                            </li>
                          </ul>
                        </li>
                      <li>
                        <a href="<?php echo $this->url('app-router/default', 
                          ['controller' => 'user']); ?>">
                          Usuários</a>
                      </li>
                    </ul>
                  </li>
                  <?php endif; ?>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Olá, <?php echo $this->UserIdentity("FleetControl")->getName(); ?> 
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li>
                      <a href="<?php echo $this->url('app-router/default', 
                                        ['controller' => 'auth', 'action' => 'logout']); ?>">
                        <i class="fa fa-sign-out pull-right"></i> Encerrar sessão
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="right_col" role="main">
          <?php echo $this->content; ?>
        </div>
        <footer>
          <div class="pull-right">
            Fleet Control - Sistema desenvolvido por 
            <a href="http://jatecdev.com.br" target="_blank">JA Tecnologia e Desenvolvimento</a>
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
    <script src="<?php echo $this->basePath(); ?>/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/fastclick/lib/fastclick.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/nprogress/nprogress.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/iCheck/icheck.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/skycons/skycons.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Flot/jquery.flot.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Flot/jquery.flot.time.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/DateJS/build/date.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="<?php echo $this->basePath(); ?>/js/moment/moment.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/js/datepicker/daterangepicker.js"></script>

    <script src="<?php echo $this->basePath(); ?>/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/google-code-prettify/src/prettify.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/switchery/dist/switchery.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/parsleyjs/dist/parsley.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/autosize/dist/autosize.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/starrr/dist/starrr.js"></script>

    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/jszip/dist/jszip.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="<?php echo $this->basePath(); ?>/vendors/pdfmake/build/vfs_fonts.js"></script>


    <script src="<?php echo $this->basePath(); ?>/build/js/custom.min.js"></script>
    
  </body>
</html>
