<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fleet Control</title>

    <!-- Bootstrap -->
    <link href="<?php echo $this->basePath(); ?>/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="<?php echo $this->basePath(); ?>/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="<?php echo $this->basePath(); ?>/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="<?php echo $this->basePath(); ?>/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <?php
            $form = $this->form;
            $form->setAttribute('action', $this->url('app-auth'));
            $form->prepare();

            echo $this->form()->openTag($form);
            ?>
              <h1>Autenticação</h1>
              <div>
                <?php echo $this->formEmail($form->get('email')); ?>
              </div>
              <div>
                <?php echo $this->formPassword($form->get('password')); ?>
              </div>
              <div>
                <?php echo $this->formSubmit($form->get('submit')); ?>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Problemas no acesso?
                  <a href="#signup" class="to_register"> Contate o Suporte </a>
                </p>
                <div class="clearfix"></div>
              </div>
            <?php
            echo $this->form()->closeTag();
            ?>
            <?php if ($this->error): ?>
            <div class="alert alert-danger" role="alert" style="margin-bottom: 0; margin-top: 5%">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                Usuário ou senha inválidos
            </div>
        <?php endif; ?>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <a class="btn btn-default submit" href="index.html">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>