<div class="banner">
    <h2>
        <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <a href="<?php echo $this->url('app-router/default', ['controller' => 'resource']); ?>">Recursos de Acesso</a>
        <i class="fa fa-angle-right"></i>
        <span>Editar Recurso de Acesso</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
		<div class="row" id="form_content">
		    <div class="col-md-6" style="padding-bottom: 2%">
		        <?php 
				$form = $this->form;
				$form->setAttribute('action', $this->url('app-router/default', array('controller' => 'resource', 'action' => 'edit')));
				$form->prepare();
				
				echo $this->form()->openTag($form);
				echo $this->formRow($form->get('id'));
				echo $this->formRow($form->get('name'));
				echo $this->formRow($form->get('security'));
				?>
				<div style="clear: both"></div>
				<br />
				<?php
				echo $this->formRow($form->get('submit'));
				echo $this->formRow($form->get('button'));
				echo $this->form()->closeTag();
				?>
		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#btn_cancel_request").click(function() {
		window.location.href="<?php echo $this->url('app-router/default', array('controller' => 'resource')) ?>";
	});
</script>