<div class="banner">
    <h2>
        <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <span>Recursos de Acesso</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <div class="pull-left">
            <h2>Recursos de Acesso</h2>
        </div>
        <div class="pull-right">
            <a class="btn btn-warning" href="<?php echo $this->url('app-router/default', ['controller' => 'resource', 'action' => 'new']); ?>">
                Adicionar Recurso
            </a>
        </div>
        <div style="clear: both;"></div>
        <hr />
        <div class="table-responsive">
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cadastro</th>
                        <th>Atualizado</th>
                        <th style="text-align: center;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->data as $entity): ?>
                        <tr>
                            <td><?php echo $entity->getName(); ?></td>
                            <td><?php echo date_format($entity->getCreated(), 'd/m/Y'); ?></td>
                            <td><?php echo date_format($entity->getUpdated(), 'd/m/Y'); ?></td>
                            <td style="width: 10%; text-align: center;">
                                <a style="text-decoration: none; cursor: pointer;" title="Editar Perfil"
                                    href="<?php echo $this->url('app-router/default', 
                                        ['controller' => 'resource', 'action' => 'edit', 'id' => $entity->getId()]); ?>">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>&nbsp;
                                <a style="color: #333; text-decoration: none; cursor: pointer;" title="Remover Perfil"
                                    onclick="deleteAction(<?php echo $entity->getId(); ?>);">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalRemoveLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Exclusão de Recurso</h4>
            </div>
            <div class="modal-body">
                Remover este Recurso? Não será mais possível recuperar este registro.
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancel-remove" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btn-remove" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteAction(id) {
        $("#modalDelete").modal('show');

        $("#btn-remove").click(function() {
            $("#btn-cancel-remove").attr('disabled', true);
            $("#btn-remove").attr('disabled', true);
            
            window.location.href = "<?php echo $this->url('app-router/default', 
                ['controller' => 'resource', 'action' => 'delete']); ?>/" + id;
        });
    }
</script>