<?php if ($this->CompleteUserIdentity("FleetControl")->getRole()->getAdmin() == 1): ?>
<div class="banner">
    <h2>
        <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">Início</a>
        <i class="fa fa-angle-right"></i>
        <a href="<?php echo $this->url('app-router/default', ['controller' => 'user']); ?>">Usuários</a>
        <i class="fa fa-angle-right"></i>
        <span>Editar Privílégios</span>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
		<div class="">
	        <div class="row">
	        	<div class="col-md-8">
	            <div class="table-responsive">
			        <table class="table table-hover">
			            <thead>
			                <tr>
			                    <th>Privílégio</th>
			                    <th>Status</th>
			                </tr>
			            </thead>
			            <tbody>
			            	<?php 
			            	foreach ($this->acl as $privilege): 
			            		$name     = $privilege->getPrivilege()->getName();
			            		$resource = $privilege->getPrivilege()->getResource()->getName();
			            		?>
					            <tr>
					            	<td><?php echo $resource . ' ' . $name; ?></td>
					            	<td>
					            	<input id="<?php echo $privilege->getId(); ?>" 
					            		class="my-checkbox"
					            		type="checkbox" 
					            		data-size="small"
					            		data-on-text="Liberado" 
					            		data-off-text="Bloqueado"
					            		data-off-color="danger"
					            		data-on-color="success"
					            		<?php echo ($privilege->getStatus() == 1) ? 'checked=""' : ''; ?>>
					            		
					            		<span id="loader-<?php echo $privilege->getId(); ?>" style="display: none;">
					            			<img src="<?php echo $this->basePath() . '/images/ajax-loader.gif'; ?>" width="20"> 
					            		</span>
					            		<i class="fa fa-check" aria-hidden="true" 
					            			id="success-<?php echo $privilege->getId(); ?>" 
				            				style="display: none; color: green; margin-left: 5px;">
			            				</i>
					            		<i class="fa fa-remove" aria-hidden="true" 
					            			id="error-<?php echo $privilege->getId(); ?>" 
				            				style="display: none; color: red; margin-left: 5px;">
			            				</i>
					            	</td>
					            </tr>
				        	<?php endforeach; ?>
			            </tbody>
			        </table>
			    </div>
			    <hr />
			    <a class="btn btn-primary" 
			    	href="<?php echo $this->url('app-router/default', 
			    		['controller' => 'user']); ?>">
			    		Voltar
			    	</a>
			    </div>
			   	<div class="clearfix"></div>
	        </div>
	    </div>
		<script type="text/javascript">
			$("[class='my-checkbox']").bootstrapSwitch();

			$("[class='my-checkbox']").on('switchChange.bootstrapSwitch', function(event, state) {
				
				var id = this.id;

				if (state === true) {
					var status = 1;
				} else {
					var status = 0;
				}

				$("#loader-" + id).show();
				$("#success-" + id).hide();
				$("#error-" + id).hide();

				$.ajax({
					url: "<?php echo $this->url('app-router/default', 
						['controller' => 'user', 'action' => 'apply-acl']); ?>?id=" + id + "&status=" + status,
					success: function() {
						$("#loader-" + id).hide();
						$("#success-" + id).show();
						$("#error-" + id).hide();
					}, 
					error: function() {
						$("#loader-" + id).hide();
						$("#success-" + id).hide();
						$("#error-" + id).show();
					}			
				});
			});
		</script>
	</div>
</div>
<?php endif; ?>
