<?php if ($this->CompleteUserIdentity("FleetControl")->getRole()->getAdmin() == 1): ?>
<div>
	<div class="clearfix"></div>
	<br />
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2 style="position: relative; top: 4px">Editar Usuário</h2>
					<a href="<?php echo $this->url('app-router/default', 
						['controller' => 'user']); ?>" 
						class="btn btn-warning btn-sm pull-right">
						VOLTAR
					</a>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-7 col-md-offset-2">
					<?php 
					$nameMessage = $this->formElementerrors($form->get('name'));
					$emailMessage = $this->formElementerrors($form->get('email'));

					if ($nameMessage || $emailMessage) {
						?>
						<div class="row">
							<br />
							<div class="col-md-12">
								<div class="alert alert-danger" role="alert">
									<?php echo $nameMessage . $emailMessage; ?>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<?php
					}
					?>
				</div>
				<div class="x_content" id="form_content">
					<?php 
					$form = $this->form;
					$form->setAttribute('action', $this->url('app-router/default', 
						['controller' => 'user', 'action' => 'edit']));
					$form->prepare();
					
					echo $this->form()->openTag($form);
					echo $this->formInput($form->get('id'));
					?>
					<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        	Nome <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <?php echo $this->formInput($form->get('name')); ?>
                        </div>
                  	</div>
                  	<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                        	Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <?php echo $this->formInput($form->get('email')); ?>
                        </div>
                  	</div>
                  	<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">
                        	Ativar usuário?
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          	<label>
                              <input type="checkbox" class="js-switch" name="status" checked /> 
                            </label>
                        </div>
                  	</div>
                  	<div class="ln_solid"></div>
                  	<div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
							<?php
							echo $this->formRow($form->get('security'));
							echo $this->formRow($form->get('submit'));
							?>
                        </div>
                    </div>
					<?php
					echo $this->form()->closeTag();
					?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>