<?php if ($this->CompleteUserIdentity("FleetControl")->getRole()->getAdmin() == 1): ?>
<div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="position: relative; top: 4px">Usuários</h2>
                    <a href="<?php echo $this->url('app-router/default', 
                        ['controller' => 'user', 'action' => 'new']); ?>" 
                        class="btn btn-warning btn-sm pull-right">
                        INSERIR USUÁRIO
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Código</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($this->data as $entity): ?>
                                <tr>
                                    <td style="text-align: center;"><?php echo $entity->getId(); ?></td>
                                    <td><?php echo $entity->getName(); ?></td>
                                    <td><?php echo $entity->getEmail(); ?></td>
                                    <td style="text-align: center;">
                                        <?php echo $this->StatusName($entity->getStatus()); ?>
                                    </td>
                                    <td style="text-align: center;">
                                        <a  class="btn btn-round btn-success btn-xs"
                                            style="text-decoration: none; cursor: pointer;" title="Alterar Senha"
                                            href="<?php echo $this->url('app-router/default', 
                                                ['controller' => 'user', 'action' => 'change-password', 'id' => $entity->getId()]); ?>">
                                            <i class="fa fa-lock" aria-hidden="true"></i> Alterar senha
                                        </a>&nbsp;
                                        <a class="btn btn-round btn-info btn-xs"
                                            style="text-decoration: none; cursor: pointer;" title="Editar Usuário"
                                            href="<?php echo $this->url('app-router/default', 
                                                ['controller' => 'user', 'action' => 'edit', 'id' => $entity->getId()]); ?>">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                        </a>&nbsp;
                                        <?php if ($this->UserIdentity("FleetControl")->getId() != $entity->getId()): ?>
                                            <a class="btn btn-round btn-danger btn-xs"
                                                style=" text-decoration: none; cursor: pointer;" title="Remover Usuário"
                                                onclick="deleteAction(<?php echo $entity->getId(); ?>);"> Remover
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                    <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalRemoveLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Exclusão de Perfil</h4>
            </div>
            <div class="modal-body">
                Remover este Perfil? Não será mais possível recuperar este registro.
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-cancel-remove" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btn-remove" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteAction(id) {
        $("#modalDelete").modal('show');

        $("#btn-remove").click(function() {
            $("#btn-cancel-remove").attr('disabled', true);
            $("#btn-remove").attr('disabled', true);
            
            window.location.href = "<?php echo $this->url('app-router/default', 
                ['controller' => 'user', 'action' => 'delete']); ?>/" + id;
        });
    }
</script>
<?php else: ?>
    <div class="blank">
        <div class="blank-page" style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
        <h1>PERMISSÃO NEGADA</h1>
        <br />
        <h3>Ops! Sua solicitação não pode ser processada.</h3>
        <br />
        <br />
            <div class="col-md-6 col-md-offset-3">
                <img src="<?php echo $this->basePath() . '/images/erro404.png'; ?>" class="img-responsive">
            </div>
        <div class="clearfix"></div>
        </div>
    </div>
<?php endif; ?>