<div class="blank">
    <div class="blank-page" style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
    <h1>ERRO 404</h1>
    <br />
    <h3>Ops! Sua solicitação não pode ser processada.</h3>
    <br />
    <br />
        <div class="col-md-6 col-md-offset-3">
            <img src="<?php echo $this->basePath() . '/images/erro404.png'; ?>" class="img-responsive">
        </div>
    <div class="clearfix"></div>
	</div>
</div>