<?php
$urlPattern = $_SERVER['REQUEST_URI'];
$formatUrl = function($page) use($urlPattern) {
	if (!preg_match ( '/page/', $urlPattern )) {
		return $urlPattern . "/page/" . $page;
	} else {
		return preg_replace( '/\d/', $page, $urlPattern );
	}
};
?>
<?php if ($this->pageCount): ?>
    <ul class="pagination pagination-sm pull-right">
        <!-- First page link -->
    	<?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $formatUrl($this->first) ?>" aria-label="Previous" style="color: #333"><span aria-hidden="true"> << </span></a></li>
    	<?php else: ?>
            <li class="previous disabled"><a href="#"> << </a></li>
        <?php endif; ?>
            
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $formatUrl($this->previous) ?>" style="color: #333"> < </a></li>
        <?php else: ?>
            <li class="previous disabled"><a href="#"> < </a></li>
        <?php endif; ?>
        

        <?php foreach ($this->pagesInRange as $page): ?>
             <?php if ($page != $this->current): ?>
                 <li>
                     <a href="<?php echo $formatUrl($this->route);?><?php echo $page; ?>" style="color: #333">
                         <?php echo $page; ?>
                     </a>
                 </li>
             <?php else: ?>
                 <li>
                     <a href="#" style="background: #333; color: white;"><?php echo $page; ?></a>
                 </li>
             <?php endif; ?>
         <?php endforeach; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <li><a href="<?php echo $formatUrl($this->next); ?>" style="color: #333"> > </a></li>
        <?php else: ?>
            <li class="previous disabled"><a href="#"> > </a></li>
        <?php endif; ?>
        
        <!-- Last page link -->
    	<?php if (isset($this->next)): ?>
            <li><a href="<?php echo $formatUrl($this->last); ?>" aria-label="Next" style="color: #333"><span aria-hidden="true"> >> </span></a></li>
    	<?php else: ?>
            <li class="previous disabled"><a href="#"> >> </a></li>
        <?php endif; ?>
    </ul>
    <div class="clearfix"></div>
<?php endif; ?>



