<?php if ($this->CompleteUserIdentity("FleetControl")->getRole()->getAdmin() == 1): ?>
<style type="text/css">
	ul {
		list-style: none;
	}
</style>
<div>
	<div class="clearfix"></div>
	<br />
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2 style="position: relative; top: 4px">Adicionar Perfil de Acesso</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content" id="form_content">
					<?php 
					$nameMessage = $this->formElementerrors($form->get('name'));

					if ($nameMessage) {
						?>
						<div class="alert alert-danger alert-dismissible fade in" role="alert" 
							style="text-align: center;">
		                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    	<span aria-hidden="true">×</span>
		                    </button>
	                   		<?php echo $nameMessage; ?>
		                </div>

						<?php
					}
					?>
					<?php if (!empty($this->msg['error'])): ?>
						<div class="alert alert-danger alert-dismissible fade in" role="alert" 
							style="text-align: center;">
		                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                    	<span aria-hidden="true">×</span>
		                    </button>
		                    <strong>Ops!</strong> <?php echo $this->msg['error']; ?>
		                </div>
		                <div class="clearfix"></div>
					<?php endif; ?>
					<?php 
					$form = $this->form;
					$form->setAttribute('action', $this->url('app-router/default', 
						['controller' => 'role', 'action' => 'new']));
					$form->prepare();
					
					echo $this->form()->openTag($form);
					?>
					<div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                        	Perfil <span class="required">*</span>
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                          <?php echo $this->formInput($form->get('name')); ?>
                        </div>
                  	</div>
                  	<div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                        	Herança
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                          <?php echo $this->formSelect($form->get('parent')); ?>
                        </div>
                  	</div>
                  	
                  	<div class="form-group">
                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="status">
                        	Perfil administrador?
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                          	<label>
                              <input type="checkbox" class="js-switch" name="admin" /> 
                            </label>
                        </div>
                  	</div>
                  	<div class="ln_solid"></div>
                  	<div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
							<?php
							echo $this->formRow($form->get('security'));
							echo $this->formRow($form->get('button'));
							echo $this->formRow($form->get('submit'));
							?>
                        </div>
                    </div>
					<?php
					echo $this->form()->closeTag();
					?>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#btn-cancel").click(function() {
			window.location.href="<?php echo $this->url('app-router/default', 
				['controller' => 'role']); ?>";
		});
	});
</script>
<?php endif; ?>